= form_for @channel, html: {class: 'form-inline'} do |f|
  - if @channel.errors.any?
    #error_explanation
      %h2= "#{pluralize(@channel.errors.count, "error")} prohibited this channel from being saved:"
      %ul
        - @channel.errors.full_messages.each do |msg|
          %li= msg
  .input-group
    = f.text_field :url, class: 'form-control', placeholder: 'url'
    .input-group-btn
      %button.btn.btn-primary
        Save
