- rss_entry = item.rss_entry
%h3.title
  = rss_entry.title
.info
  .link.pull-right
    = link_to 'source', rss_entry.url, target: '_blank'
  %span.pub-date
    = rss_entry.published
  - if rss_entry.author
    author:
    %span.author
      = rss_entry.author
  = link_to 'Keep unread', item_path(item, item: {unread: '1'}), remote: true, method: :put, id: 'keep-unread'
.description
  != rss_entry.content || rss_entry.summary
:coffee
  $('#keep-unread').click ->
    $('.items .item.active').addClass 'unread'
