- doc = item.parsed_item
%h4.title
  = doc.title
.info
  .link.pull-right
    = link_to 'link', doc.url, target: '_blank'
  %span.pub-date
    = doc.published
  - if doc.author
    author:
    %span.author
      = doc.author
.description
  != doc.content || doc.summary
