.container
  .row
    .col-md-2
      = link_to 'Add', new_channel_path, class: 'pull-right'
      = link_to 'All', reader_path
      .channels
        - @channels.each do |channel|
          .channel{class: ('active' if @channel == channel)}
            = image_tag avatar_channel_path(channel, thumb: 1)
            = link_to channel.name, reader_path(channel_id: channel.id), class: 'show-channel'
            = link_to 'x', channel, :method => :delete, :data => { :confirm => "Destroy \"#{channel.name}\", Are you sure?" }, class: 'pull-right'
    .col-md-3
      - if params[:query]
        = "Search: #{params[:query]}"
      - elsif @channel
        = @channel.name
      - else
        = 'All items'
      .items{'data-current-item' => @item.try(:id)}
        - @items.each do |item|
          .item{class: ('active' if @item == item)}
            - path = reader_path(channel_id: @channel.try(:id), item_id: item.id, query: params[:query])
            - text = item.parsed_item.title
            = link_to text, path, title: text, class: 'show-item'
      = paginate @items, params: {item_id: nil}
    .col-md-7.item-area
      #item
        = render partial: 'item', locals: {item: @item} if @item
